<div class="quizz__container" role="region" aria-label="Quiz interativo">
  <div class="quizz__logo">
    <img src="assets/imgs/logo.png"
         alt="Logo do BuzzFeed"
         width="48"
         height="48"
         loading="eager" />
    <h3 class="quizz__title">{{title}}</h3>
  </div>

  <div *ngIf="!finished" class="quizz__questions">
    <h3 class="quizz__question-text">{{questionSelected?.question}}</h3>
  </div>

  <div *ngIf="!finished" class="quizz__options">
    <button *ngFor="let option of questionSelected?.options; let i = index"
            (click)="playerChoose(option.alias)"
            class="btn-option"
            [attr.aria-label]="'Opção ' + option.name">
      {{option.name}}
    </button>
  </div>

  <div *ngIf="finished" class="quizz__results">
    <h3 class="quizz__results-title">O SEU RESULTADO É:</h3>
    <p class="quizz__results-text">{{answersSelected}}</p>
    <button class="btn-option btn-restart"
            (click)="restartQuiz()"
            aria-label="Recomecar o quiz">
      Tentar novamente
    </button>
  </div>
</div>
